@font-face
{
    font-family: VastShadow;
    src: url(VastShadow-Regular.ttf);
}

body
{
    margin: 0;
    padding: 0;
}

.topBar
{
    color: white;

    width: 100vw;
    height: 60px;

    background-color: aquamarine;

    font-family: VastShadow;
    font-size: 40px;

    display: grid;
    place-items: center;

    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}